<configuration>
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d %green([%thread]) %highlight(%level)
                %logger{50}/%marker - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
    <root level="WARN">
        <appender-ref ref="CHANNEL"/>
    </root>

    <!--Make all useless loggers shut up -->
    <logger name="io.netty.buffer.AbstractByteBufAllocator" level="WARN" additivity="false"/>
    <logger name="io.netty.buffer.PooledByteBufAllocator" level="WARN" additivity="false"/>
</configuration>